### Yii template
/.idea
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
protected/data/catalogs
protected/data/certificates
protected/data/offline
themes/classic/views/

protected/config/*local.php

images/Product
images/Category
images/CarBrand
images/undistributed
.tmb